@page "/categories"

@inject NavigationManager NavigationManager
@inject UseCases.IViewCategoriesUseCase ViewCategoriesUseCases
@inject UseCases.IDeleteCategoryUseCase DeleteCategoryUseCase

<h3>Manage Categories</h3>

@if (categories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var category in categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td><button type="button" @onclick="@(() => EditCategory(category))" class="btn btn-link">Edit</button></td>
                <td><button type="button" @onclick="@(() => DeleteCategory(category.CategoryId))" class="btn btn-link">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
}

<br />
<button type="button" @onclick="AddCategory" class="btn btn-primary">Add Category</button>

@code {
    private IEnumerable<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadCategories();
    }

    private void AddCategory()
    {
        NavigationManager.NavigateTo("/addcategory");
    }

    private void EditCategory(Category category)
    {
        NavigationManager.NavigateTo($"/editcategory/{category.CategoryId}");
    }

    private void DeleteCategory(int categoryId)
    {
        DeleteCategoryUseCase.DeleteCategory(categoryId);

        LoadCategories();
    }

    private void LoadCategories()
    {
        this.categories = ViewCategoriesUseCases.Execute()?.ToList();
    }
}
