@page "/categories"

@inject NavigationManager NavigationManager
@inject UseCases.IViewCategoriesUseCase ViewCategoriesUseCases

<h3>Manage Categories</h3>

@if (categories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var category in categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td><button type="button" @onclick="@(() => HandleEditCategory(category))" class="btn btn-link">Edit</button></td>
            </tr>
        }
        </tbody>
    </table>
}

<br />
<button type="button" @onclick="HandleAddCategory" class="btn btn-primary">Add Category</button>

@code {
    private IEnumerable<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        categories = ViewCategoriesUseCases.Execute()?.ToList();
    }

    private void HandleAddCategory()
    {
        NavigationManager.NavigateTo("/addcategory");
    }

    private void HandleEditCategory(Category category)
    {
        NavigationManager.NavigateTo($"/editcategory/{category.CategoryId}");
    }
}
